body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
   .page-footer{
    /* position: fixed; */
    
   left: 0;
   bottom: 0;
   width: 100%;
   text-align:inherit;
   display: inline-block;
   margin:0;
   vertical-align:top !important;
}

  @media only screen and (max-width: 320px) {

    body,h5{ 
       font-size:100% 
    }
 
 }