.carousel1{
max-width: 50em;
max-height: 30em;
float:right;
background-size: cover; 

}
.carousel1 img{
    max-width: 50em;
    max-height: 30em;

}

p{
    font-size: 150%
}


@media only screen and (max-width: 773px) {

    body,p{ 
        font-size: 100%;
    }
    .carousel1 img{
        max-width: 80%;
       max-height:100%;
    }
}